header {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 50px auto;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 500px;
    width: 50vw;
}

.menu {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 15vw;
}

.menu button {
    width: 180px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
}

#colorPicker {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
}

.gridBox {
    margin: 0;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    border-radius: 5px;
    display: grid;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0 auto;
}