header {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 30px auto;
  font-size: 40px;
  color:#302f2f;
  font-weight: 400; 
  text-shadow: 2px 2px 3px #FCAE1E;
}

body {
  background: linear-gradient(90deg, rgb(234, 234, 235) 0%, rgb(204, 204, 204) 50%, rgba(234, 234, 235) 100%);
  font-family: monospace; 
  font-weight: 400; 
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 550px;
  width: 60vw;
  padding: 100px;
  border: solid 2px #FCAE1E;
  border-radius:  10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.menu {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: right;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 15vw;
}

.button, #mode {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 1px rgb(184, 184, 184);
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #302f2f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: monospace;
  font-weight: 600;
}

.button:hover, #mode {
  background-color: rgba(255, 196, 0, 0.788);
}

.button:active {
  background-color: rgb(184, 184, 184);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input#colorPicker {
  width: 100px;
  height: 100px;
  background-color: rgb(184, 184, 184);;
  border-radius: 10px;
}

#mode {
  background-color: rgba(255, 196, 0, 0.788);
  cursor: default;
}

.gridBox {
  margin: 0 auto;
  width: 550px;
  height: 550px;
  border: solid 1px #FCAE1E;
  border-radius: 5px;
  display: grid;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}

/*Chrome, Safari, Edge Track*/
input[type="range"]::-webkit-slider-runnable-track {
  background: #FCAE1E;
  height: 0.3rem;
  border-radius: 2rem;
}

/*Firefox Track*/
input[type="range"]::-moz-range-track {
  background: #FCAE1E;
  height: 0.3rem;
  border-radius: 2rem;
}

/*Chrome, Safari, Edge Thumb*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #666;
  height: 5px;
  width: 2px;    
}

/*Firefox Thumb*/
input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 50%;
  background-color: #666;
  height: 0.8rem;
  width: 0.8rem;    
}

#gridSizeOptionsOutput {
  color: #302f2f;
  font-size: 15px;
  margin: 0;
}

footer {
  padding: 20px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: auto;
}

footer p {
  margin: 0 auto;
  color: #302f2f;
}
